Repository nomad-xyz/nomad-monorepo, pull requests merged in 2022-01, with the labels that each got.

#1 fix: added gitignore
  .gitignore
Labels: bug

#20 fix: correctly unwrap message in s3 pusher
  rust/agents/processor/src/push.rs
Labels: bug

#21 Await functionality for `CallBatch`
  typescript/nomad-sdk/src/nomad/govern/index.ts
Labels: enhancement

#27 feature: add string to int domain utils to SDK + chainId conversions
  typescript/nomad-deploy/config/mainnets/moonbeam.ts
  typescript/nomad-sdk/src/utils.ts
Labels: sdk, typescript

#36 docs: improve docs for GUI integrations
  typescript/nomad-sdk/README.md
  typescript/nomad-sdk/src/nomad/NomadContext.ts
Labels: documentation, devrel

#48 Example UI
  examples/example-ui/.env.example
  examples/example-ui/.gitignore
  examples/example-ui/README.md
  examples/example-ui/babel.config.js
  examples/example-ui/package-lock.json
  examples/example-ui/package.json
  examples/example-ui/public/favicon.ico
  examples/example-ui/public/index.html
  examples/example-ui/src/App.vue
  examples/example-ui/src/assets/DEV.png
  examples/example-ui/src/assets/USDT.png
  examples/example-ui/src/assets/WETH.png
  examples/example-ui/src/assets/wordmark.png
  examples/example-ui/src/components/Balances.vue
  examples/example-ui/src/components/Bridge.vue
  examples/example-ui/src/components/History.vue
  examples/example-ui/src/components/TxData.vue
  examples/example-ui/src/config.ts
  examples/example-ui/src/custom.d.ts
  examples/example-ui/src/main.ts
  examples/example-ui/src/shims-vue.d.ts
  examples/example-ui/src/utils/sdk.ts
  examples/example-ui/tsconfig.json
Labels: documentation, sdk, typescript

#76 fix: relinquish control of replica on hub
  typescript/nomad-deploy/src/core/index.ts
Labels: bug, typescript

#80 refactor: improve SDK callbatch
  typescript/nomad-sdk/src/nomad/contracts/CoreContracts.ts
  typescript/nomad-sdk/src/nomad/domains/domain.ts
  typescript/nomad-sdk/src/nomad/domains/index.ts
  typescript/nomad-sdk/src/nomad/govern/index.ts
  typescript/nomad-sdk/src/nomad/govern/utils.ts
  typescript/nomad-sdk/src/nomad/index.ts
  typescript/nomad-tests/test/cross-chain/governanceMessage.test.ts
  typescript/nomad-tests/test/cross-chain/governanceRouter.test.ts
  typescript/nomad-tests/test/cross-chain/recoveryManager.test.ts
  typescript/nomad-tests/test/cross-chain/simpleMessage.test.ts
  typescript/nomad-tests/test/deploy.test.ts
Labels: sdk, typescript

#40 feature: watcher handles improper updates (without state proofs)
  rust/agents/processor/src/processor.rs
  rust/agents/watcher/src/watcher.rs
  rust/chains/nomad-ethereum/src/home.rs
  rust/chains/nomad-ethereum/src/replica.rs
  rust/nomad-base/src/error.rs
  rust/nomad-core/src/traits/mod.rs
Labels: enhancement, agents, rust 🦀

#103 test: add e2e watcher tests for improper updates on home and replica
  tools/local-environment/package.json
  tools/local-environment/src/nomad.ts
  tools/local-environment/tests/addChainCase.ts
  tools/local-environment/tests/common.ts
  tools/local-environment/tests/watcherDoubleUpdate.ts
  tools/local-environment/tests/watcherImproperUpdate.ts
  typescript/nomad-deploy/package-lock.json
  typescript/nomad-deploy/src/incremental/index.ts
Labels: test, agents, typescript
